name: Python Package using Conda

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Miniconda with discord environment
      uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: 3.11
        environment-file: environment.yml
        activate-environment: discord
        auto-activate-base: false

    - name: Install package in editable mode
      shell: bash -l {0}
      run: |
        python -m pip install -e .
  
    - name: Run tests with pytest
      shell: bash -l {0}
      run: |
        pytest -q
